body{
  font-size: 16px;
  color: black;
  background-color: #F1E568;
  font-family: "Lucida Console", Monaco, monospace;
}

#header-nav{
  background-color: #BD2F57;
  border-radius: 0;
  border: 0;
  min-height: 70px;
}

.navbar-brand h1{
  font-family: 'Raleway', sans-serif;
  color: #F1E568;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

#nav-list a{
  font-weight: bold;
  color: #F1E568;
}

#nav-list a:hover{
  background-color: #B9B5E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #F1E568;
}

.navbar-header button.navbar-toggle{
  clear: both;
  margin-top: -30px;
}

#page-title{
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  color: #BD2F57;
}

#main-text{
  padding-left: 30px;
  padding-right: 30px;
}

.text-background{
  height: 3000px;
  padding: 20px 40px;
  background-color: #B9B5E7;
  overflow: hidden;
}
h3{
  font-weight: bold;
}


